@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


div.container#goodbye{
    display: inline-flex;
    width: calc(100% - 611px);
    height: 61px;
    margin-left: 40vw;
    margin-top: 12vh;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

@media only screen and (max-device-width : 375px) and (max-device-height : 667px) and (-webkit-device-pixel-ratio: 2.0){
}
@media only screen and (max-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio: 2.0) {
}
@media only screen and (max-device-width : 390px) and (max-device-height : 844px) and (-webkit-device-pixel-ratio: 3.0){
}
@media only screen and (max-device-width : 393px) and (max-device-height : 851px) and (-webkit-device-pixel-ratio: 2.0){
} 
@media only screen and (max-device-width : 360px) and (max-device-height : 740px) and (-webkit-device-pixel-ratio: 4.0){ 
}   
@media only screen and (max-device-width : 412px) and (max-device-height : 915px) and (-webkit-device-pixel-ratio: 3.5){ 
}  
@media only screen and (max-device-width : 820px) and (max-device-height : 1180px) and (-webkit-device-pixel-ratio: 2.0){ 
}   
@media only screen and (max-device-width : 768px) and (max-device-height : 1024px) and (-webkit-device-pixel-ratio: 2.0){ 
}  
@media only screen and (max-device-width : 912px) and (max-device-height : 1368px) and (-webkit-device-pixel-ratio: 1.78){ 
}  
@media only screen and (max-device-width : 540px) and (max-device-height : 720px) and (-webkit-device-pixel-ratio: 2.673){ 
}   
@media only screen and (max-device-width : 412px) and (max-device-height : 914px) and (-webkit-device-pixel-ratio: 2.625){ 
}   
@media only screen and (max-device-width : 1024px) and (max-device-height : 600px) and (-webkit-device-pixel-ratio: 1.13){ 
} 
@media only screen and (max-device-width : 1280px) and (max-device-height : 800px) and (-webkit-device-pixel-ratio: 1.0){ 
}