@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

div.container#bioParent{
    background-color: rgba(231, 231, 231, 1);
    border-radius: 16px;
    width: calc(100% - 355px);
    height: 300px;
    margin: calc(0px + 71px) calc(0px + 145px) calc(0px + 106px) calc(0px + 158px);
    display: inline-flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

div.container#bioParent > div.container#header{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: calc(0px + 16px);
}

div.container#bioParent > div.container#header > span{
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    margin-left: 33px;
}

div.container#bioParent > div.container#header > div.countr{
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    margin-right: 26px;
}

div.container#bioParent > div.container#inputs{
    display: inline-flex;
    flex-direction: column;
    margin-left: 37px;
    margin-top: 43px;
    gap: 20px;
    width: 232px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    justify-content: space-between ;
}

div.container#bioParent > div.container#inputs > div.container#tall{
    width: 232px;
    height: 32px;
    padding-left: ;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.container#bioParent > div.container#inputs > div.container#tall > input[type=number]{
    margin-left: 6px;
}

div.container#bioParent > div.container#inputs > div.container#weigh{
    width: 232px;
    height: 32px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.container#bioParent > div.container#inputs > div.container#weigh > input[type=number]{
    margin-left: -2px;
}

div.container#bioParent > div.container#inputs > div.container#wide{
    width: 232px;
    height: 32px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.container#bioParent > div.container#inputs > div.container#wide > input[type=number]{
    margin-left: 13px;
}


input[type=number] {
    -moz-appearance: textfield;
    width: 80px;
    height: 32px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
    border: 1px solid #7B7B7B;
    border-radius: 4px;
    position: block;
  }

  div.container#bioParent > div.container#oldValues{
    display: inline-flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -105px;
    margin-top: -125px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    color: rgba(123, 123, 123, 1);
    font-weight: 400;
  }

@media only screen and (max-width : 450px){
    div.container#bioParent{
        background-color: rgba(231, 231, 231, 1);
        border-radius: 16px;
        width: 225px;
        height: 300px;
        margin: calc(0px + 71px) calc(0px + 145px) calc(0px + 106px) calc(0px + 108px);
        display: inline-flex;
        flex-direction: column;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        padding-left: 25px;
    }

    div.container#bioParent > div.container#header{
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: -5px;
        gap: 10px;
    }

    div.container#bioParent > div.container#inputs{
        display: inline-flex;
        flex-direction: column;
        margin-left: -15px;
        margin-top: 43px;
        gap: 15px;
        width: 232px;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        justify-content: space-evenly ;
    }

    div.container#bioParent > div.container#inputs > div.container#tall{
        width: 270px;
        height: 45px;
        margin-left: -25px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;
    }

    div.container#bioParent > div.container#inputs > div.container#weigh{
        width: 270px;
        height: 45px;
        margin-left: -25px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;
    }

    div.container#bioParent > div.container#inputs > div.container#wide{
        width: 270px;
        height: 45px;
        margin-left: -25px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;
    }

    div.container#bioParent > div.container#oldValues{
        display:none;
    }

    div.container#bioParent > div.container#header > span#old{
        display: none;
    } 
}

