@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

div.container#nav {
  background-color: rgba(255, 255, 255, 1);
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 57px;
  width: calc(100% - 204px);
  margin: 0px calc(0px + 38px) calc(0px + 663px) calc(0px + 166px);
  top: 0px;
  border-bottom: 1px solid rgba(123, 123, 123, 1);
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}

.textarea {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: calc(100% - 735px);
  height: 16px;
  top: 27px;
  line-height: 16.42px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -2%;
  font-family: 'Work Sans', sans-serif;
}

@media only screen and (device-width : 375px) and (device-height : 667px){
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}

@media only screen and (device-width : 414px) and (device-height : 896px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px;
    font-size: 12px;
  }
}

@media only screen and (device-width : 390px) and (device-height : 844px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}

@media only screen and (device-width : 393px) and (device-height : 851px){ 
  div.container#nav {
    width: 280px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}
@media only screen and (device-width : 360px) and (device-height : 740px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}
@media only screen and (device-width : 412px) and (device-height : 915px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}
@media only screen and (device-width : 820px) and (device-height : 1180px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}
@media only screen and (device-width : 768px) and (device-height : 1024px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}
@media only screen and (device-width : 912px) and (device-height : 1368px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}
@media only screen and (device-width : 540px) and (device-height : 720px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}
@media only screen and (device-width : 412px) and (device-height : 914px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}
@media only screen and (device-width : 1024px) and (device-height : 600px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}
@media only screen and (device-width : 1280px) and (device-height : 800px){ 
  div.container#nav {
    width: 270px;
    margin: 0px 38px 663px 97px;
  }

  .textarea {
    justify-content: space-around;
    width: calc(100% - 100px);
    margin: 0px 38px ;
    font-size: 12px;
  }
}