@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


div.container#prog{
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 853px;
    width: 120px;
    top: 25px;
    border-right: 1px solid rgba(123, 123, 123, 1);
    line-height: 14.08px;
    font-family: 'Work Sans', sans-serif;
}

div.container > div.progress#sidebar > .page-1-progBar{
    height: 27px;
    width: 0px;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-top: calc(0px + 25px);
    margin-left: 13px;
    position: absolute;
    border-radius: 25px;
}

div.container > div.progress#sidebar > .page-2-progBar{
    height: 93px;
    width: 0px;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-top: calc(0px + 25px);
    margin-left: 13px;
    position: absolute;
    border-radius: 25px;
}

div.container > div.progress#sidebar > .page-3-progBar{
    height: 140px;
    width: 0px;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-top: calc(0px + 25px);
    margin-left: 13px;
    position: absolute;
    border-radius: 25px;
}

div.container > div.progress#sidebar > .page-4-progBar{
    height: 195px;
    width: 0px;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-top: calc(0px + 25px);
    margin-left: 13px;
    position: absolute;
    border-radius: 25px;
}

div.container > div.progress#sidebar > .page-5-progBar{
    height: 195px;
    width: 0px;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-top: calc(0px + 25px);
    margin-left: 13px;
    position: absolute;
    border-radius: 25px;
}

div.container > div.progress#sidebar > .page-6-progBar{
    height: 195px;
    width: 0px;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-top: calc(0px + 25px);
    margin-left: 13px;
    position: absolute;
    border-radius: 25px;
}
div.container > div.progress#sidebar > div.rectangle#start{
    position: block;
    display: inline-block;
    justify-content: center;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    margin-top: calc(0px + 25px);
    margin-left: 27px;
    height: 27px;
    width: 98px;
}

div.container > div.progress#sidebar > div.rectangle#bio{
    position: block;
    display: inline-block;
    justify-content: center;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    margin-top: calc(0px + 30px);
    margin-left: 27px;
    height: 25px;
    align-items: center;
    justify-content: center;
    width: 98px;
}

div.container > div.progress#sidebar > div.rectangle#perInfo{
    position: block;
    display: inline-block;
    justify-content: center;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    margin-top: calc(0px + 30px);
    margin-left: 27px;
    height: 25px;
    width: 98px;
}

div.container > div.progress#sidebar > div.rectangle#fin{
    position: block;
    display: inline-block;
    justify-content: center;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    margin-top: calc(0px + 30px);
    margin-left: 27px;
    height: 25px;
    width: 98px;
}

@media only screen and (max-width : 450px){
    div.container#prog{
        width: 95px;
        top: 25px;
        bottom: 96px;
        position: absolute;
        height: calc(83.19444444444444%);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: calc(28px);
    }
}
