@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


div.container#holder{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 722px;
    height: 642px;
    margin: 112px 145px 146px 158px;
}

div.container#holder > div.container#followup{
    background-color: rgba(231, 231, 231, 1);
    width: 721px;
    height: 337px;
    margin-top: -28vh;
    border: none;
    border-radius: 16px;
    display: inline-flex;
    flex-direction: row;
    padding-left: 30px;
}

div.container#holder > div.container#followup > div.container#info{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

div.container#holder > div.container#followup > div.container > span#fup{
    font-size: 14px;
    font-weight: 600;
}
div.container#holder > div.container#followup > div.container#info > div.container#nextMeet{
    display:'inline-flex';
    gap:'27px';
    align-items:'center';
    font-size: 14px;
}

div.container#holder > div.container#buttons{
    display: inline-flex;
    width: 721px;
    height: 85px;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
div.container#holder > div.container#buttons > button{
    width: 204px;
    height: 25px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

@media only screen and (max-width : 450px) {
    div.container#holder{
    
    }
}
@media only screen and (max-device-width : 820px) and (max-device-height : 1180px) and (-webkit-device-pixel-ratio: 2.0){ 
}   
@media only screen and (max-device-width : 768px) and (max-device-height : 1024px) and (-webkit-device-pixel-ratio: 2.0){ 
}  
@media only screen and (max-device-width : 912px) and (max-device-height : 1368px) and (-webkit-device-pixel-ratio: 1.78){ 
}  
@media only screen and (max-device-width : 540px) and (max-device-height : 720px) and (-webkit-device-pixel-ratio: 2.673){ 
}   
@media only screen and (max-device-width : 1024px) and (max-device-height : 600px) and (-webkit-device-pixel-ratio: 1.13){ 
} 
@media only screen and (max-device-width : 1280px) and (max-device-height : 800px) and (-webkit-device-pixel-ratio: 1.0){ 
}
